/*===============*/
/* Root          */
/*===============*/

:root {
    --Green: hsl(75, 94%, 57%);
    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);
}

/*===============*/
/* Reset        */
/*===============*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-size: 16px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/*===============*/
/* design        */
/*===============*/

body {
    background-color: var(--Grey-900);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 320px;
    background-color: var(--Grey-800);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.avatar {
    max-width: 80px;
    margin-top: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.name {
    font-size: 22px;
    color: white;
    margin-top: 22px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

.design {
    position: absolute;
    opacity: 0.2;
    width: 1440px;
}
.location {
    color: var(--Green);
    font-weight: 600;
    font-family: "Inter", sans-serif;
    font-size: 13px;
    margin-bottom: 22px;
}
.jop {
    color: white;
    font-size: 14px;
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin-bottom: 20px;
}
.container span {
    background-color: var(--Grey-700);
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    text-align: center;
}
.container span:hover {
    background-color: var(--Green);
    cursor: pointer;
}
.container span a {
    text-decoration: none;
    font-size: 13px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}
.container span:hover a {
    color: var(--Grey-900);
}

@media (min-width: 700px) {
    main {
        min-width: 375px;
    }

    /* main {
        padding-top: 10px;
    }

    .avatar {
        margin-top: 30px;
        max-width: 90px;
    }
    .name {
        font-size: 26px;
    } */
    .container {
        max-width: 90%;
    }
}
